In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split,StratifiedKFold,cross_val_score
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, log_loss

In [2]:
df = pd.read_csv('HR_comma_sep.csv')
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.10,0.77,6,247,4,0,1,0,sales,low
3,0.92,0.85,5,259,5,0,1,0,sales,low
4,0.89,1.00,5,224,5,0,1,0,sales,low

In [3]:
dum_hr = pd.get_dummies(df, drop_first=True)
y = dum_hr['left']
X = dum_hr.drop('left',axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=24, stratify=y)

In [4]:
lda = LinearDiscriminantAnalysis()
lda.fit(X_train, y_train)
y_pred = lda.predict(X_test)
print("Accuracy Score of LDA :", accuracy_score(y_test, y_pred))

Accuracy Score of LDA : 0.7695043342965103

In [5]:
qda = QuadraticDiscriminantAnalysis()
qda.fit(X_train, y_train)
y_pred = qda.predict(X_test)
print("Accuracy Score of QDA :", accuracy_score(y_test,y_pred))

Accuracy Score of QDA : 0.863080684596577

### Finding Cross val score

In [7]:
kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=24)
res_lda = cross_val_score(lda, X, y, cv = kfold)
print("LDA cross val score : ",res_lda.mean())

res_qda = cross_val_score(qda, X,y, cv = kfold)
print('QDA cross val score : ', res_qda.mean())

LDA cross val score :  0.7782594198066022
QDA cross val score :  0.8748249416472158